:root {
    --primary: #4a56e2;
    --primary-hover: #364fc7;
    --primary-active: #2f3ab2;

    --border-default: #d7dbdf;
    --border-hover: #1f1f1f;
    --border-focus: var(--primary);

    --bg-disabled: #f6f7fb;
    --text-disabled: #a6aab4;
}

body {
    font-family: sans-serif;
    padding: 40px;
    background-color: #f9f9fb;
    color: #000;
}

.timer-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 40px;}

.controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* INPUT STATES */

#datetime-picker {
    flex: 1;
    padding: 10px 14px;
    font-size: 14px;
    border: 1px solid #cec9c9;
    background-color: #fff;
    outline: none;
    transition: border-color 0.2s;
    border-radius: 8px;
     width: 272px;
}

#datetime-picker:hover:not(:disabled) {
    border-color: var(--border-hover);
}

#datetime-picker:focus:not(:disabled) {
    border-color: var(--border-focus);
}

#datetime-picker:disabled {
    background-color: var(--bg-disabled);
    border-color: var(--border-default);
    color: var(--text-disabled);
    cursor: not-allowed;
}

/* BUTTON STATES */

button[data-start] {
    border: none;
    border-radius: 8px;
        padding: 8px 16px;
        width: 75px;
        height: 40px;
    background: #cfcfcf;
    background-color: var(--primary);
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #989898;
}

button[data-start]:hover:not(:disabled) {
    background: #4e75ff;
    box-shadow: 0 4px 8px rgba(74, 86, 226, 0.3);
    font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
}

button[data-start]:active:not(:disabled) {
   background: #4e75ff;;
    box-shadow: 0 2px 4px rgba(74, 86, 226, 0.4);
    font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
}

button[data-start]:disabled {
    background-color: var(--bg-disabled);
    color: var(--text-disabled);
    cursor: not-allowed;
}

/* TIMER LAYOUT */

.timer {
    display: flex;
    justify-content: space-evenly;
    max-width: 346px;
    max-height: 72px;
}

.field {
    text-align: center;
}

.value {
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.label {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 4px;
    color: #555;
}
